.contact{
    position: absolute;
    height: 94%;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 1000;
}

.windows-xp-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 94%;
  flex-direction: column;
  width: 100%;
}

.form {
  background-color: #ffffff;
  border: 2px solid #000080; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 400px;
}

.contact-inputs {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000080; 
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #000080; 
    border-radius: 5px;
    color: #000080; 
  }

  textarea {
    resize: vertical;
  }
}

.contact button {
  background-color: #000080; 
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact button:hover {
  background-color: #0000a0;
  color: white;
}